[std_cmd_args]
std_cmd_args = container_name, storage_account_key, storage_account_name, dict_version_file, process_instance_id

[spark_config]
# Parametry Spark zarzadzane przez apply_profile() w skrypcie .py (lib/spark_profiles.py)

[input]
raw_inventory_folder = DATA_IN/STANY_SKLEPOWE

[output]
result_full_path = /TRANSFORMED_DATA/STANY_SKLEPOWE
result_full_filename = stany_sklepowe.csv
result_sample_path = /TRANSFORMED_DATA/STANY_SKLEPOWE
result_sample_filename = stany_sklepowe_SAMPLE.csv

[logging]
log_on_the_screen = true
